<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary-pale">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Add Comment</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <ion-item>
          <ion-label color="primary" floating>Your Name</ion-label>
         <ion-input type="text" formControlName="author"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label stacked>Your Rating</ion-label>
          <ion-range formControlName="rating" min="1" max="5"  step="1" pin snap>
              <ion-icon range-left small name="md-sad"></ion-icon>
              <ion-icon range-right name="md-happy"></ion-icon>
            </ion-range>
       </ion-item>
       <ion-item>
          <ion-label color="primary" floating>Your Comment</ion-label>
          <ion-textarea formControlName="comment" rows="12"></ion-textarea>
       </ion-item>

        <button ion-button type="submit" [disabled]="!commentForm.valid" padding>Submit</button>
    </form>

</ion-content>

</ion-content>
